
body {
    margin: 0;
    background-color: pink;
    height: 1000px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: rgb(255, 255, 255);
    padding: 10px 8px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 60px;
    box-shadow: 0px 0px 5px black;

    #developer {
        position: fixed;
        bottom: 10px;
        left: 10px;
        font-family: arial;
        font-weight: bold;
        opacity: .7;

    }

    .titlePage {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    h1 {
        font-family: arial;
        margin: 0;
        font-size: 50px;
        flex: 2;

        .redTitle {
            color: red;
        }

        .version {
            font-size: 20px;
        }
    }

    .left_menu {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: right;
        padding-right: 10px;

        div {
            height: 100%;
            margin-left: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                font-size: 20px;
                font-family: arial;
                cursor: pointer;
                font-weight: bold;
                margin: 0;
                opacity: .8;
            }
            
            .border_button_p {
                opacity: 1;
                padding: 0px 5px;
                border-bottom: 3px solid rgb(0, 0, 0);

            }
        }
    }
}

.mk_container {
    width: 90%;
}

.rm_container {
    display: none;
    visibility: hidden;
    position: fixed;
    top: -100000px;
}

//Add Task Section ===>
#ctn2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .addTask {
        background-color: white;
        border: 1px solid black;
        width: 100%;
        display: flex;
        flex-direction: column;

        h1 {
            margin: 0;
            margin-bottom: 30px;
            font-family: arial;
            margin-left: 10px;
            margin-top: 10px;
            box-sizing: border-box;
        }

        label {
            font-family: arial;
            font-size: 20px;
            margin-bottom: 7px;
            font-weight: bold;
            margin-left: 13px;
        }

        input {
            font-size: 20px;
            padding: 5px;
            width: 95%;
            border: 1px solid black;
            border-radius: 5px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
            margin-left: 10px;
            box-sizing: border-box;
        }

        button {
            font-size: 20px;
            padding: 10px 30px;
            margin-left: 10px;
            border-radius: 5px;
            border: none;
            margin-bottom: 15px;
            background-color: rgb(38, 194, 255);
            color: rgb(0, 65, 77);
            font-weight: bold;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
            cursor: pointer;

            &:active {
                opacity: .8;
            }
        }
    }

    .mcHide {
        left: -350px;
    }

    .prev_task {
        margin-top: 25px;
        width: 100%;
        box-sizing: border-box;
        background-color: white;
        margin-bottom: 20px;

        table {
            width: 100%;
            border-collapse: collapse;
            font-family: arial;
            font-size: 20px;
            border: 1px solid black;
            table-layout: fixed;
            
            .title_tr {
                border: 1px solid black;
                background-color: rgb(88, 88, 88);
                color: rgb(230, 230, 230);
                padding: 10px 0px;
                text-align: center;
            }
            
            th {
                border: 1px solid black;
                text-align: left;
                padding: 10px;
                word-wrap: break-word;
            }
            
            #edit_remove_btn {
                border: none;
                border-bottom: 1px solid black;
                text-align: center;
                padding: 10px 0px;

                button {
                    padding: 5px 25px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    font-weight: bold;
                    background-color: rgb(38, 194, 255);
                    color: rgb(0, 65, 77);
                    
                    &:active {
                        opacity: .8;
                    }
                }
                
                .DeleteTask {
                    background-color: rgb(252, 56, 56);
                    color: rgb(231, 250, 253);
                    margin-left: 10px;
                }
                
            }
        }
    }

}
//Add Task Section ===>

// Dashboard ===>
#ctn3 {
    h1 {
        font-family: arial;
    }

    .Collection_control {

        table {
            border-collapse: collapse;
            table-layout: fixed;
            width: 100%;
        }

        .top_table {
            th {
                text-align: center;
                background-color: rgb(92, 92, 92);
                font-family: arial;
                padding: 10px;
                color: white;
            }
        }

        tr {
            background-color: white;
        }

        .Delete_Btn {
            text-align: center;
        }
        
        .collection_remarks {
            text-align: center;
        }
        
        .check_data {
            text-align: center;
        }

        th {
            border: 1px solid black;
            word-wrap: break-word;
            text-align: left;
            font-family: arial;
            padding: 5px;
        }
    }
}
// Dashboard ===>

#ctn4 {
    padding-bottom: 50px;
    h1 {
        font-family: arial;
    }
    
    h2 {
        font-family: arial;
        margin-bottom: 10px;
        margin-top: 25px;
    }

    p {
        font-family: arial;
        margin: 0;
        margin-top: 10px;
    }

    .date_created {
        margin-top: 50px;
        font-weight: bold;
    }

    .top_info {
        font-size: 20px;
    }

    .developerName {
        margin-top: 5px;
        font-weight: bold;
    }
}

// Practice Container ================================>
#ctn1 {

    .top_section {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 10px;

        #btn4265 {
            display: flex;
            gap: 10px;

            #Switch_btn {
                background-color: white;
                font-weight: bold;
                color: rgb(0, 0, 0);
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);

                &:active {
                    box-shadow: none;
                }
            }
            
            #shuffle_btn {
                background-color: black;
                font-weight: bold;
                color: rgb(255, 255, 255);
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);
    
                &:active {
                    box-shadow: none;
                }
            }
            
            #reset {
                background-color: gray;
                font-weight: bold;
                color: rgb(255, 255, 255);
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);
    
                &:active {
                    box-shadow: none;
                }
                
            }
        }

        div {
            flex: 1;

            button {
                padding: 10px 20px;
                border-radius: 10px;
                border: none;
                cursor: pointer;
    
                &:active {
                    opacity: .8;
                    box-shadow: none;
                }
            }
        }

        .hint_div {
            display: flex;
            align-items: center;
            justify-content: right;

            h2 {
                margin-right: 20px;
                text-align: right;
            }
        }

        .hint_section {
            font-family: arial;
            margin: 0;
        }
    }


    .question_container {
        border: 1px solid black;
        border-radius: 5px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: rgb(255, 218, 218);
        background-color: #fffaff;
        margin-bottom: 10px;

        button {
            padding: 10px 20px;
            border-radius: 10px;
            border: none;
            cursor: pointer;

            &:active {
                opacity: .8;
                box-shadow: none;
            }
        }

        h1 {
            font-family: arial;
        }


        #userAnswer {
            width: 90%;
            box-sizing: border-box;
            padding: 10px 8px;
            border-radius: 5px;
            border: 1px solid black;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
            font-size: 20px;
        }

        .display_result {
            p {
                margin: 0;
                font-family: arial;
                font-weight: bold;
                margin: 5px 0px;
                margin-top: 15px;
                
            }
        }

        .Hint_and_Submit_btn {
            margin-top: 15px;
            display: flex;
            gap: 15px;
            margin-bottom: 10px;

            #hint_btn {
                background-color: #98c1d9;
                font-weight: bold;
                color: rgb(0, 0, 0);
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);

                &:active {
                    box-shadow: none;
                }
            }
            
            #submit_btn {
                background-color: #8d99ae;
                font-weight: bold;
                color: rgb(0, 0, 0);
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);

                &:active {
                    box-shadow: none;
                }
            }
            
            #skip_btn {
                background-color: #2b2d42;
                font-weight: bold;
                color: rgb(255, 255, 255);
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);

                &:active {
                    box-shadow: none;
                }
            }
        }
    }

    #current_position {
        display: flex;
        margin-top: 5px;
        align-items: center;
        justify-content: center;
        
        div {
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
            border: 1px solid rgb(0, 0, 0);
            flex: 1;
            font-family: arial;
            text-align: center;
            cursor: pointer;
            font-weight: bold;
            background-color: #fffaff;
            color: rgb(0, 0, 0);
            padding: 5px;
            font-size: 15px;
            margin-top: 10px;
        }

        .green {
            background-color: #8d99ae;
            color: rgb(0, 0, 0);
        }
    }


}
// Practice Container ================================>

@media only screen and (max-width: 960px) {

    .titlePage {
        h1 {
            font-size: 40px;
        }
    }
}

@media only screen and (max-width: 800px) {

    .top_section {

        #btn4265 {
            gap: 5px;

            #shuffle_btn, #Switch_btn, #reset {
                padding: 10px 10px;
            }

        }

        .hint_div {
        }

    }

   

    #ctn2 {
        .addTask {

            h1 {
                font-size: 30px;
                margin-bottom: 15px;
            }
            label {
                font-size: 20px;
            }
            
            input {
                font-size: 15px;

            }

            button {
                font-size: 15px;
                padding: 10px 20px;
            }
        }

        .prev_task {
            table {
    
                .title_tr {
                    font-size: 18px;
                }
    
                th {
                    font-size: 15px;
                }
    
                #edit_remove_btn {
                    button {
                        font-size: 14px;
                        padding: 5px 10px;
                    }

                    .DeleteTask {
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    #ctn3 {
        .Collection_control {
            table {
                font-size: 15px;
            }
        }
    }

    header {
        flex-direction: column;

        .titlePage {

            h1 {
                font-size: 30px;
                margin-bottom: 10px;

                .version {
                    font-size: 15px;
                }
            }
        }

        .left_menu {
            justify-content: center;
            div {
                flex: 1;
                p {
                    font-size: 15px;
                }
            }
        }
    }
    
}